.navbar {
  width: 100%;
  height: 90px;
  position: sticky;
  top: 0;
  background-color: black;
  border-style: solid;
  border-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap !important;
  &__buttons {
  }
}
