.home {
  overflow: hidden;
  height: calc(100% - 90px);
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  box-sizing:none;

  video {
    min-width: 100%;
  }
}

.event-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event-button button {
  // border: 1px dotted black;
  border: none;
  background-color: Transparent;
  color: white;
  font-size: 100px;
}
